<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="D2R_CLONEHUNTER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <D2R_CLONEHUNTER.Properties.Settings>
            <setting name="ExcludedIpAddresses" serializeAs="String">
                <value>34.117.122.6,127.0.0.1</value>
            </setting>
            <setting name="ShowTicks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTrimLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RingOnFound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlizzardPing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VolumeChaching" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="StreamerWriteGameTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StreamerWriteTotalTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StreamerWriteTotalGames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StreamerWriteDelayMS" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="SaveTotalGamesAndTotalTimeAcrossRestart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveLoggedIPAddressesAcrossRestart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TotalTimeStartDateTime" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="TotalGamesJoined" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseWindowsFirewallBlocking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockedCIDRs" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowedCIDRs" serializeAs="String">
                <value />
            </setting>
            <setting name="QuickRestartD2R" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="D2RLauncherPath" serializeAs="String">
                <value>C:\Program Files (x86)\Diablo II Resurrected\Diablo II Resurrected Launcher.exe</value>
            </setting>
            <setting name="KeepOnTop" serializeAs="String">
                <value>False</value>
            </setting>
        </D2R_CLONEHUNTER.Properties.Settings>
    </userSettings>
</configuration>